<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars Data -->
    <div class="row">
      <div class="col-md-12">
            <h2 class="heading">Latest Mars News</h2>
            <h3 class="heading">{{ mars.news_title }}</h3>
        {{ mars.news_p }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <h2 class="heading">Featured Mars Image</h2>
        <img class="img-responsive" src= "{{ mars.featured_image_url }}">
      </div>
      <div class="col-md-3">
        <h4><strong>Current Weather on Mars</strong></h4>
        <p>
          <span class="border border-dark">{{ mars.mars_weather }}</span>
        </p>
      </div>
      <br>
      <h4 class="heading"><strong>Mars Facts</strong></h4>
      <div class="table-responsive">          
          {{ mars.html_table | safe }}
      </div>
    </div>
      
    <div class="row">
      <div class="col-md-12" align="center">
        <h2 class="heading">Mars Hemispheres</h2>
      </div>
    </div>
      
    <div class="row">
      {% for hemisphere in mars['hemisphere_image_urls'] %}
        <div class="col-md-6">
          <img class="img-responsive" src= "{{ hemisphere.img_url }}" >
          <h3>{{ hemisphere.title }}</h3>
        </div>
      {% endfor %}
    </div>

  </div>
</body>

</html>

